<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.ferienakademie.wonderfull">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EnergyDetails"/>
        <activity android:name=".SensorActivity"></activity>
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".profile"/>
        <activity android:name=".plan_hiking"/>
        <activity android:name=".HikeMainscreen"/>
        <activity android:name=".Graphen"/>
        <activity android:name=".EditProfile"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.BleService"
            android:exported="false" />
    </application>

</manifest>
